 <!-- <footer class="page-footer font-small barra pt-4">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-1">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas
                " target="_blank" class="icoGithub">
                            <i class="fa fa-github text-white" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-auto">
                <h4>
                    <p class="text-white font">Siga-nos nas redes sociais</p>
                </h4>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" target="_blank"
            href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas">Borboletas</a>
    </div>
</footer>  -->

<footer class="page-footer font-small color pt-4">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-md-3 d-flex align-items-center">

                <div>
                    <a class="text-reset me-3" href="#">
                        <i class="fas fa-envelope c-white fs-2"></i>
                    </a>
                </div>
                <div>
                    <h5>Email para contato:
                        borboletas@gmail.com
                    </h5>

                </div>
            </div>

            <div class="col-md-3 d-flex align-items-center">
                <div>
                    <a class="text-reset me-3 " href="#">
                        <i class="fas fa-phone-square-alt fs-2 c-white"></i>
                    </a>
                </div>
                <div>
                    <h5>Telefone para contato:
                        (45)98805-7021
                    </h5>
                </div>
            </div>
            <div class="col-md-3  d-flex align-items-center">
                <div>
                    <ul class="social-network">
                        <li>
                            <a href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas
                " target="_blank" class="icoGithub">
                                <i class="fa fa-github text-white fs-2" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5>Acesse o repositório
                        deste projeto
                    </h5>
                </div>
            </div>

        </div>
        <hr class="row">
    </div>
    <div class="row d-flex align-items-center" height="500px">
        <div class="col-md-6 footer-copyright color text-center py-3">
            <span class="text-light"> © 2020 Copyright: </span>
            <a class="text-light" target="_blank"
                href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas">Borboletas</a>
        </div>
        <div class="col-md-6 color d-flex justify-content-evenly">
            <a class="navbar-brand waves-effect" href="#" target="_blank">
                <img src="https://i.imgur.com/buAG7Kf.png" height="30px" class="img-fluid img-nav" alt=""
                    loading="lazy" />
            </a>
        </div>
    </div>
</footer> 

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->