<footer class="page-footer font-small barra pt-4" >
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-1">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas
                " target="_blank" class="icoGithub">
                            <i class="fa fa-github text-white" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-auto">
                <h4>
                    <p class="text-white font">Siga-nos nas redes sociais</p>
                </h4>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" target="_blank"
            href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas">Borboletas</a>
    </div>
</footer>