
<h1> Home</h1>

<div class="d-flex align-items-start flex-column bd-highlight mb-3 cor-contato" style="height: 300px;">
    
    <div class="m-auto align-middle p-5 bd-highlight text-white"><h1 class="mb-5">Como você prefere falar com a gente?</h1></div>
  </div>

<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <style>
        .map-container {
          height: 200px;
          position: relative;
        }

        .map-container iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      </style>
 
      

      <!--Grid row-->
      <div class="row d-flex justify-content-center mb-5">

        <!--Grid column-->
    
        <div class="col-md-6 text-center">

          <h3 class="font-weight-bold ">Contact Us</h3>
        


          <!-- Material outline input -->
          <div class="md-form md-outline mt-3">
            <input type="email" id="form-email" class="form-control">
            <label for="form-email border-dark">E-mail</label>
          </div>

          <!-- Material outline input -->
          <div class="md-form md-outline">
            <input type="text" id="form-subject" class="form-control">
            <label for="form-subject">Subject</label>
          </div>

          <!--Material textarea-->
          <div class="md-form md-outline mb-3">
            <textarea id="form-message" class="md-textarea form-control" rows="5"></textarea>
            <label for="form-message">How we can help?</label>
          </div>

          <button type="submit" class="btn btn-info btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>
 
        </div>
    
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

          <i class="fas fa-map-marker-alt fa-2x blue-text"></i>

          <p class="font-weight-bold my-3">Address</p>

          <p class="text-muted">New York, 94126, United States</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

            <i class="fas fa-phone fa-2x blue-text"></i>

            <p class="font-weight-bold my-3">Phone number</p>
  
            <p class="text-muted">+ 01 234 567 89</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

            <i class="fas fa-envelope fa-2x blue-text"></i>

            <p class="font-weight-bold my-3">E-mail</p>
  
            <p class="text-muted">info@gmail.com</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  
  
  
  
