
<h1> Home</h1>

<div class="d-flex align-items-start flex-column bd-highlight mb-3 cor-contato" style="height: 300px;">
    
    <div class="m-auto align-middle p-5 bd-highlight text-white fonte"><h1 class="mb-5">Como você prefere falar com a gente?</h1></div>
  </div>

  <div class="container">
    <div class="row p-5">
      <div class="col-sm">
       <h3>Email</h3>
      </div>
      <div class="col-sm">
        <h3>Telefone</h3>
      </div>
      <div class="col-sm">
        <h3>Endereço</h3>
      </div>
    </div>
  </div>

  
  
  
