<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="https://i.imgur.com/bW3BXew.png" height="50" alt="" loading="lazy" />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fonte2 text-black" href="#">Pagina Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fonte2 text-black" href="#">Login</a>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <!-- Avatar -->
      <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink"
        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
          loading="lazy" />
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item fonte2" href="#">Minha Loja</a>
        </li>
        <li>
          <a class="dropdown-item fonte2" href="#">Configuração</a>
        </li>
        <li>
          <a class="dropdown-item fonte2" href="#">Sair</a>
        </li>
      </ul>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="d-flex align-items-start flex-column bd-highlight mb-3 cor-contato" style="height: 300px;">

  <div class="m-auto align-middle p-5 bd-highlight text-white fonte fs-40">
    <h1 class="mb-5 fs-54">Como você prefere falar com a gente?</h1>
  </div>
</div>

<div class="container">
  <div class="row p-5 d-flex justify-content-center align-items-center">
    <div class="col-sm">
      <h3 class="fonte">Email</h3>
      <p class="fonte2">Tem alguma dúvida? Entre em contato pelo nosso email.</p>
    </div>
    <div class="col-sm">
      <h3 class="fonte">Telefone</h3>
      <p class="fonte2">Você pode estar entrando em contato atraves da nossa central.</p>
    </div>
  </div>
</div>