
<div class="d-flex align-items-start flex-column bd-highlight mb-3 cor-contato" style="height: 300px;">

  <div class="m-auto align-middle p-5 bd-highlight text-white fonte fs-40">
    <h1 class="mb-5 fs-54">Como você prefere falar com a gente?</h1>
  </div>
</div>

<div class="container">
  <div class="row p-5 d-flex justify-content-center align-items-center">
    <div class="col-sm">
      <h3 class="fonte">Email</h3>
      <p class="fonte2">Tem alguma dúvida? Entre em contato pelo nosso email.</p>
    </div>
    <div class="col-sm">
      <h3 class="fonte">Telefone</h3>
      <p class="fonte2">Você pode estar entrando em contato atraves da nossa central.</p>
    </div>
  </div>
</div>