<app-menu></app-menu>
<div class="container fluid">


    <div class="row" style="height:500px;">

        <div class="col-md-6 d-flex align-items-end">
            <img src="https://i.imgur.com/rrB7FTF.png" width="500px" height="500px">
        </div>




        <div class="col-md-6 mt-5">
            <div class="row d-flex justify-content-center mb-5">
                <h1 class="text-center fonte">Atualizar Categoria</h1>
                <div class="form-group mt-5">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" [(ngModel)]='categoria.descricao'>
                </div>



                <div class="d-flex justify-content-center mt-3">
                    <button class="btn button tambtn mr-4" routerLink='/inicio'>Cancelar</button>
                    <button class="btn button tambtn" (click)='atualizar()'>Atualizar</button>
                </div>
            </div>
        </div>

    </div>

</div>



<app-rodape></app-rodape>