/* NAV ANTIGA */

.navbar {
    height: 58px;
}
.navbar-brand img {
    height: 60px;
    /* width: 45px; */
}

.img-nav {
    height: 100px;
}

.navbar .navbar-brand {
    padding-top: 0;
}


.navbar .button-collapse {
    padding-top: 1px;
}

.card-intro .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}

.card-intro .card-body h1 {
    margin-bottom: 0;
}

.card-intro {
    margin-top: 64px;
}

@media (max-width: 450px) {
    .card-intro {
        margin-top: 56px;
    }
}

@media (min-width: 1441px) {
    .card-intro {
        padding-left: 0 !important;
    }
}

.fonte2 {
    font-family: 'Poppins', sans-serif;
}

/* NAV V2 */
.cor-contato {
    background: rgb(198, 22, 147);
    background: linear-gradient(90deg, rgba(198, 22, 147, 1) 37%, rgba(0, 173, 249, 1) 77%, rgba(0, 170, 249, 1) 100%);
}

.fonte {
    font-family: 'Comfortaa', cursive;
}

.fs-54 {
    font-size: 40pt;
}
/* NAV V2 */

.fs-2{
    color: blueviolet;
}