.jumbotron-titulo {}

.jumbotron-cor-fundo {
    background: rgb(198, 22, 147);
    background: linear-gradient(90deg, #BA68C8 37%, rgba(0, 173, 249, 1) 77%, rgba(0, 170, 249, 1) 100%);
}

.jumbotron-input {
    border-radius: 15px;
    padding-left: 20px;
    height: 40px;
    /* background-color: var(--search-box-bg, white);
    border: none;
    border-radius: calc(0.5 * var(--ntp-realbox-height));
    color: var(--search-box-text);
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%; */
}

.jumbotron-input-span {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.jumbotron-largura {
    width: 100%;
}

.jb-titulo {
    margin-bottom: 20px;
}

/* Categorias CARDS */

.categorias-link {
    text-decoration: none;
    color: black;
}

.card-altura {
    height: 20px;
}

.tamanho-linha {
    background-color: #BA68C8;
    height: 100px;
}

.teste {
    padding: 0px 0px 0px 0px;
}

.corpo-card {
    padding: 0px 0px 0px 0px;
    /* padding-top: 0px;
    padding-bottom: 0px; */
}

/* PRODUTOS CARDS */

.card-produto-corpo {
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

.card-borboletas-projeto-link {
    text-decoration: none;
    color: black;
}

.card-borboletas-projeto-img {
    background-image: url(https://i.imgur.com/qy1QVIx.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* LIST PRODUTOS */

/*  Helper Styles */

.cards-list {
    font-family: Varela Round;
    background: #f1f1f1;
}

a {
    text-decoration: none;
}

/* Card Styles */

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #E26D5C;
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
    transition: 1s;
}

.card-button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #7756b8;
    border: 1px solid  #7756b8;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

.testando {
    max-width: 100%;
    max-height: 100%;
}

.tamanhdo-imagem {
    display: flex;
    justify-content: center;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
}

.tamanhdo-descricao {
    height: 32px;
    max-height: 32%;
}

.tamanhdo-do-card {
    max-width: 95%;
    max-height: 70%;
}

.largura-col {
    margin: 0px;
    width: 230px;
    padding-left: 1px;
    padding-right: 1px;
    /* height: 70%; */
}

.card-list-margin {
    margin-bottom: 23px;
}

.cards-list {
    padding: auto;
}

.card-cabeca {
    padding-bottom: 0px;
}

.animacao-card {
    /*
      All of the base styles have
      moved to the “CSS” tab above.
    */
    transition: transform 250ms;
}

.animacao-card:hover {
    transform: translateY(-10px);
}

.card-btn-color {
    background-color: #7756b8;
}

.card-font {
    font-weight: bold;
}