<app-menu></app-menu>

<div class="container-fluid">

    <!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid jumbotron-cor-fundo">

        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center">

                <div class="col-md-8 ">

                    <div class="container d-flex justify-content-center jumbotron-largura">

                        <div class="jumbotron-largura">
                            <!-- TITULO -->
                            <div class="jb-titulo">
                                <h1 class="display-4 text-center text-light">O que você procura?</h1>
                                <p class="lead text-center text-light">"Alguma frase tipo: Aqui você encontra"</p>
                            </div>
                            <!-- /TITULO -->

                            <!-- PESQUISAR -->
                            <div class="input-group roundedg">


                                <input type="search" class="form-control jumbotron-input" value="Todos os produtos"
                                    aria-label="Search" aria-describedby="search-addon" />
                                <span class="input-group-text  jumbotron-input-span" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <!-- PESQUISAR -->


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /JUMBOTRON -->

</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Categorias</h4>
        </div>
    </div>

    <!-- LISTA DAS CATEGORIAS -->
    <div class="row mb-4">

        <div class="col-md-4">

            <!-- CARDS CATEGORIA -->
            <a href="" class="categorias-link">
                <div class="card teste">

                    <div class="card-body corpo-card">
                        <img src="https://i.imgur.com/35p5t11.png" class="card-img-top img-fluid" alt="..." />

                        <div class="mb-3">
                            <h5 class="card-title text-center">Moda</h5>
                        </div>
                    </div>

                </div>
            </a>
            <!-- CARDS CATEGORIA -->

        </div>
        <div class="col-md-4">

            <!-- CARDS CATEGORIA -->
            <a href="" class="categorias-link">
                <div class="card teste">

                    <div class="card-body corpo-card">
                        <img src="https://i.imgur.com/35p5t11.png" class="card-img-top img-fluid" alt="..." />

                        <div class="mb-3">
                            <h5 class="card-title text-center">Eletrônicos</h5>
                        </div>
                    </div>

                </div>
            </a>
            <!-- CARDS CATEGORIA -->

        </div>
        <div class="col-md-4">

            <!-- CARDS CATEGORIA -->
            <a href="" class="categorias-link">
                <div class="card teste">

                    <div class="card-body corpo-card">
                        <img src="https://i.imgur.com/pLIWX8I.jpg" class="card-img-top img-fluid" alt="..." />

                        <div class="mb-3">
                            <h5 class="card-title text-center">Beleza</h5>
                        </div>
                    </div>

                </div>
            </a>
            <!-- CARDS CATEGORIA -->
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">

            <!-- CARDS CATEGORIA -->
            <a href="" class="categorias-link">
                <div class="card teste">

                    <div class="card-body corpo-card">
                        <img src="https://i.imgur.com/M4J3qwr.jpg" class="card-img-top img-fluid" alt="..." />

                        <div class="mb-3">
                            <h5 class="card-title text-center">Casa e decoração</h5>
                        </div>
                    </div>

                </div>
            </a>
            <!-- CARDS CATEGORIA -->

        </div>
        <div class="col-md-4">

            <!-- CARDS CATEGORIA -->
            <a href="" class="categorias-link">
                <div class="card teste">

                    <div class="card-body corpo-card">
                        <img src="https://i.imgur.com/35p5t11.png" class="card-img-top img-fluid" alt="..." />

                        <div class="mb-3">
                            <h5 class="card-title text-center">Acessórios</h5>
                        </div>
                    </div>

                </div>
            </a>
            <!-- CARDS CATEGORIA -->

        </div>
        <div class="col-md-4">

            <!-- CARDS CATEGORIA -->
            <a href="" class="categorias-link">
                <div class="card teste">

                    <div class="card-body corpo-card">
                        <img src="https://i.imgur.com/8F3Z7dH.jpg" class="card-img-top img-fluid" alt="..." />

                        <div class="mb-3">
                            <h5 class="card-title text-center">Produtos e Objetos</h5>
                        </div>
                    </div>

                </div>
            </a>
            <!-- CARDS CATEGORIA -->
        </div>

    </div>

</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>As melhores ofertas</h4>
        </div>
    </div>

    <div class="row mt-3">
        <div class="card-group col-md-12 d-flex justify-content-center">
            <div *ngFor="let item of listaProduto">
                <div class="bottom card-produto-corpo">
                    <img class="card-img-top grow" src="{{item.foto}}" height="200px" width="100px"
                        alt="Card image cap">
                    <div class="card-body border">
                        <h4 class="card-title">{{item.nome}}</h4>
                        <p class="card-text">R$: {{item.preco}}</p>
                        <button type="button" class="btn btn-color a" [routerLink]="['/comprar', item.id]">
                            Comprar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- <div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://i.imgur.com/4EJmJnq.jpg" alt="Imagem do card">
                <div class="card-img-overlay">
                    <h5 class="card-title">Borbeletas não para de crescer!</h5>
                    <p class="card-text">Em breve vc poderá fornecer os seus serviços</p>
                    <p class="card-text">Atualizados 3 minutos atrás</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-sm-6">
            <a href="" class="card-borboletas-projeto-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vamos juntos impulsionar seu negócio?</h5>
                        <p class="card-text">Re-invesnte-se, trabalhe duro, empodere-se Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, facilis? Ducimus soluta fugit autem incidunt earum voluptatem labore</p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="" class="card-borboletas-projeto-link">
                <div class="card">
                    <div class="card-body card-borboletas-projeto-img">
                        <h5 class="card-title">Contribuindo com o meio ambiente</h5>
                        <p class="card-text">lutamos cpor causas ambientais Lorem ipsum dolor sit amet consectetur adipisicing elit.! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum excepturi quaerat ab sed ipsam. Iste sint in corporis. Iste sint in corporis. Iste sint in corporis. </p>
                        
                    </div>

                </div>
            </a>
        </div>
    </div>

</div> -->

<br>
<br>
<br><br><br><br><br>

<div class="row">
    <div class="col-md-12">
        <h4>As melhores ofertas</h4>
    </div>
</div>
<div class="container">


    <div class="row mt-3">
        <div class="card-group col-md-12 d-flex justify-content-center">


            <div *ngFor="let item of listaProduto">
                <div class="bottom card-produto-corpo">
                    <img class="card-img-top grow" src="{{item.foto}}" height="200px" width="100px"
                        alt="Card image cap">
                    <div class="card-body border">
                        <h4 class="card-title">{{item.nome}}</h4>
                        <p class="card-text">R$: {{item.preco}}</p>
                        <button type="button" class="btn btn-color a" [routerLink]="['/comprar', item.id]">
                            Comprar </button>
                    </div>
                </div>
            </div>


        </div>
    </div>



</div>




<div class="container cards-list" style="margin-top:50px;">
    <div class="row ">

        <div *ngFor="let item of listaProduto" class="col-md-3">
            <!-- <div class="col-md-3  "> -->

                <div class="card-sl card-list-margin tamanhdo-do-card">
                    <div class="card-image tamanhdo-imagem">
                        <img class="img-fluid testando"
                            src="{{item.foto}}" />
                    </div>

                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                    <div class="card-heading">
                        <h5 class="card-title">{{item.nome}}</h5>
                    </div>
                    <div class="card-text">
                        {{item.descricao}}
                    </div>
                    <div class="card-text">
                        {{item.preco}}
                    </div>
                    <a href="#" class="card-button"> Purchase</a>
                </div>

            <!-- </div> -->
        </div>


    </div>
</div>