#img-bg {
  background-image: url('https://i.imgur.com/w3d95jN.jpg');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-back {
  background-color: rgb(223, 223, 223);
}

 .radius {
  border-radius: 20px 20px 20px 20px;
}

.bg-color {
  background-color: #7756b8;
} 

button{
  border-radius: 20px 20px 20px 20px;
  background-color: #7756b8;
  color: white;
  font-weight: bold;
  font-family: 'Poppins';    
  }
button:hover{
  background-color: white;
  color: #7756b8;
}

.ft {
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-weight: bold;
}