<app-menu></app-menu>

<!---Card de Compra------>
<div class="container-fluid ">


    <div class="row d-flex align-items-center p-5 bg-white ">
        <div class="col-md-6 d-flex justify-content-center">

            <img src="{{produto.foto}}" height="300px" width="300px">

        </div>
        <!---div class="col-md-6">
            <h1 class="color">{{produto.nome}} </h1>
            <h5 class="text-mute">Categoria: {{produto.categoria.descricao}}</h5>
            <hr>
            <h4> R$: {{produto.preco}}</h4>
            <hr class="mb-4">
            <h4>{{produto.descricao}}</h4>

            <h4 class="mt-3">{{produto.criador.nome}} | contato: {{produto.criador.email}}</h4>
        </div>
    </div>
    <div class="mb-5">

    </div---->

    <!---------Alinhamento de texto Card de Compra---------->
        <div class="card text-center" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">{{produto.nome}}</h5>
                <p class="card-text">Categoria: {{produto.categoria.descricao}}</p>
                <h4> R$: {{produto.preco}}</h4>
                <h4>{{produto.descricao}}</h4>
                <a class="btn btn-color a" (click)='apagar()'>Comprar</a>
            </div>
        </div>
        <div class="mb-5">
        </div>
    </div>
</div>
<app-rodape></app-rodape>