<!-- Navbar -->
<app-menu></app-menu>
<!-- Navbar -->

<!-- CARROSEL -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Titulo Princípal = O PROJETO ! -->
            <div class="container z-depth-1">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">

                        <header>
                            <h1 class="gradient-text home-nome-projeto">Borboletas</h1>
                        </header>
                        <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap"
                            rel="stylesheet">

                    </div>

                    <div class="col-md-4 home-header-img">


                    </div>
                </div>

            </div>
            <!-- /Titulo Princípal = O PROJETO ! -->

        </div>
        <div class="carousel-item">
            <!-- CAROUSEL ITEM 03 = EMPREENDA AGORA ! -->
            <div class="container z-depth-1">
                <div class="row">
                    <div class="col-md-5 mb-4 mb-md-0">

                        <div class="view">
                            <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" height="px"
                                class="img-fluid" alt="smaple image">
                        </div>

                    </div>
                    <div class="col-md-7 mb-lg-0 mb-4 d-flex align-items-center">

                        <div class="">

                            <!-- Section heading -->
                            <h3 class="font-weight-bold my-3">Já não está na hora de de começar seu próprio negocio?
                            </h3>

                            <p class="text-muted mb-4 pb-2">Os nossos grandes erros não envolvem o medo da
                                transformação, mas a
                                paralisação que aceitamos viver para não sofrer o dano. Tire o tempo necessário para
                                realizar esse
                                processo de metamorfose e empreenda novos tempos na sua vida!
                            </p>

                            <small class="form-text black-text carousel-item01-text">
                                <strong>
                                    <a href="#">
                                        Que tal começar pelo seu cadastro?
                                    </a>
                                </strong>
                            </small>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /CAROUSEL ITEM = EMPREENDA AGORA ! -->


        </div>
        <div class="carousel-item">
            <!-- CAROUSEL ITEM = MUSICA ! -->
            <div class="container my-5 z-depth-1">

                <!--Section: Content-->
                <section class="dark-grey-text">

                    <div class="row pr-lg-5">
                        <div class="col-md-7 mb-4">

                            <div class="view">
                                <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid"
                                    alt="smaple image">
                            </div>

                        </div>
                        <div class="col-md-5 d-flex align-items-center">
                            <div>

                                <h3 class="font-weight-bold mb-4">Também ama música?</h3>

                                <p>Então já passou da hora de aprender a tocar alguns instrumento! Encontre ótimos
                                    professores aqui
                                    no borboletas!</p>
                                <p>Você, pessoa trans, ama de paixão tocar? Que tal ensinar outras pessoas? Não perca
                                    tempo e
                                    empreenda já!</p>

                                <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button>

                            </div>
                        </div>
                    </div>

                </section>
                <!--Section: Content-->


            </div>
            <!--/ CAROUSEL ITEM = MUSICA ! -->


        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <i class="fas fa-caret-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <i class="fas fa-caret-right"></i>
    </a>
</div>
<!--/CARROSEL -->



<!-- PRODUTOS -->
<div class="container z-depth-1">
    <div class="row">
        <div class="col-md-12">





        </div>
    </div>
</div>
<!-- /PRODUTOS -->

<!-- Jumbotron -->
<div class="jumbotron bg-white d-flex justify-content-center p-5">
    <div>
        <h1 class="display-4 focus-in-contract-bck">Conheça os produtos</h1>
    </div>
</div>
<!-- /Jumbotron -->
<!-- Cards Produtos -->
<div class="container">
<h5 class="ml-5"> <img src="https://i.imgur.com/bW3BXew.png" height="50px" width="50px"> Roupas </h5>
<hr class="mb-4">
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <!-- <div class="controls-top d-flex justify-content-center">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div> -->
        <!--/.Controls-->
    
        <!--Indicators-->
        <!-- <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol> -->
        <!--/.Indicators-->
    
        <!--Slides-->
        <!-- <div class="carousel-inner" role="listbox"> -->
    
          <!--First slide-->
          <div class="carousel-item active">
    
            <div class="row">
              <div class="col-md-12 card-group nowrap">
                <div class="card mb-2 mr-4" *ngFor="let item of listaProduto">
                    <!-- <div ng-if="item.categoria == 'roupas'"> -->
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                       alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">{{item.nome}}</h4>
                    <p class="card-text">R$: {{item.preco}}</p>
                    <a class="btn btn-color">Comprar</a>
                  </div>
                </div>
                <!-- </div> -->
              </div>

</div>

<hr class="mt-4">


<div class="container mt-5">
    <h5 class="ml-5"> <img src="https://i.imgur.com/bW3BXew.png" height="50px" width="50px"> Eletros </h5>
    <hr class="mb-4">
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    
            <!--Controls-->
            <!-- <div class="controls-top  d-flex justify-content-center">
              <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
              <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div> -->
            <!--/.Controls-->
        
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
        
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
        
              <!--First slide-->
              <div class="carousel-item active">
        
                <div class="row">
                  <div class="col-md-12 card-group nowrap">
                    <div class="card mb-2 mr-4" *ngFor="let item of listaProduto; let i=index">
                      <img class="card-img-top" src="https://brastemp.vtexassets.com/arquivos/ids/213732/Geladeira-BRE80AK-Frontal.jpg?v=637298140570900000"
                           alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">{{item.nome}}</h4>
                        <p class="card-text">R$: {{item.preco}}</p>
                        <a class="btn btn-color">Comprar</a>
                      </div>
                    </div>
                  </div>
    
    </div>
    <hr class="mt-4">
 
<!-- /Cards Produtos -->

<!-- Sobre nos -->

<!-- Jumbotron -->
<div class="jumbotron bg-white d-flex justify-content-center p-5">

    <div>
        <h1 class="display-4 text-center">Sobre nós</h1>
        <p class="lead m-auto text-center">Projeto Borboletas</p>
    </div>

</div>
<!-- /Jumbotron -->

<div class="container">

    <div class="row">

        <!-- COMO SURGIU O BORBOLETAS -->
        <div class="col-md-6 img-sobrenos">
            <h3 class="text-center">Como o Borbolotas surgiu</h3>

            <div class="mt-4">
                <p>
                    Borboletas surgiu com o intuito de contribuir com a autonomia financeira de pessoas transgêneras,
                    baseando-se na ODS10 - Redução da Desigualdade, o e-commerce visa ajudar através da divulgação de
                    trabalhos e produtos.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam excepturi error tempore
                    necessitatibus aliquam! Harum, aut! Inventore, ipsam provident, tempora accusantium dolor debitis
                    voluptatem dolores magnam saepe labore delectus atque!
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <img src="https://i.imgur.com/ipLlvEL.png" height="300px" width="300px" class="img-fluid" alt="">
            </div>
        </div>

    </div>

    <div class="row">
         <!-- NOSSA MISSÃO -->
         <div class="col-md-6 img-sobrenos">
            <div class="d-flex justify-content-center">
                <img src="https://i.imgur.com/Sl0PZpc.gif" height="300px" width="300px" class="img-fluid" alt="">
            </div>
        </div>

        <div class="col-md-6">

            <h3 class="text-center">Nossa missão</h3>

            <div class="mt-4">
                <p>
                    Borboletas surgiu com o intuito de contribuir com a autonomia financeira de pessoas transgêneras,
                    baseando-se na ODS10 - Redução da Desigualdade, o e-commerce visa ajudar através da divulgação de
                    trabalhos e produtos.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam excepturi error tempore
                    necessitatibus aliquam! Harum, aut! Inventore, ipsam provident, tempora accusantium dolor debitis
                    voluptatem dolores magnam saepe labore delectus atque!
                </p>
            </div>

        </div>
    </div>

</div>



<!-- Jumbotron -->
<div class="jumbotron bg-white d-flex justify-content-center p-5">

    <div>
        <h1 class="display-4 text-center">Time de desenvolvimento</h1>
        <p class="lead m-auto text-center">Usando a tecnologia para promover a igualdade</p>
    </div>

</div>
<!-- /Jumbotron -->



<!-- SOBRE O TIME DE DESENVOLVIMENTO -->
<div class="container">

    <!-- <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div>
                <h3 class="font-weight-bold pb-2 mb-4">Time de desenvolvimento</h3>
                <p class="text-muted">Usando a tecnologia para promover a igualdade</p>
            </div>
        </div>
    </div> -->

    <div class="row">
        <!-- CARD 01 -->
        <div class="col-md-2 shadow-drop-br p-3 ">

            <div class="avatar mx-auto ">
                <img src="https://i.imgur.com/7mty7ml.jpg" class="img-fluid rounded-circle z-depth-1"
                    alt="Sample avatar">
            </div>

            <h5 class="font-weight-bold mt-4 mb-3 text-center">Barbara</h5>

            <ul class="list-unstyled mb-0 d-flex justify-content-center">

                <li>
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-github blue-text"> </i>
                    </a>
                </li>
                <li>
                    <!-- LinkdIn -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- CARD 01 -->

        <!-- CARD 02 -->
        <div class="col-md-2 shadow-drop-br p-3 ">

            <div class="avatar mx-auto ">
                <img src="https://avatars.githubusercontent.com/u/86385275?v=4"
                    class="img-fluid rounded-circle z-depth-1" alt="Sample avatar">
            </div>

            <h5 class="font-weight-bold mt-4 mb-3 text-center">Barbara</h5>

            <ul class="list-unstyled mb-0 d-flex justify-content-center">

                <li>
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-github blue-text"> </i>
                    </a>
                </li>
                <li>
                    <!-- LinkdIn -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- CARD 02 -->

        <!-- CARD 01 -->
        <div class="col-md-2 shadow-drop-br p-3 ">

            <div class="avatar mx-auto ">
                <img src="https://i.imgur.com/QdFwWqH.png" class="img-fluid rounded-circle z-depth-1"
                    alt="Sample avatar">
            </div>

            <h5 class="font-weight-bold mt-4 mb-3 text-center">Barbara</h5>

            <ul class="list-unstyled mb-0 d-flex justify-content-center">

                <li>
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-github blue-text"> </i>
                    </a>
                </li>
                <li>
                    <!-- LinkdIn -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- CARD 01 -->
        <!-- CARD 01 -->
        <div class="col-md-2 shadow-drop-br p-3 ">

            <div class="avatar mx-auto ">
                <img src="https://i.imgur.com/U04i6fL.jpg?1"
                    class="img-fluid rounded-circle z-depth-1" alt="Sample avatar">
            </div>

            <h5 class="font-weight-bold mt-4 mb-3 text-center">João Vitor</h5>

            <ul class="list-unstyled mb-0 d-flex justify-content-center">

                <li>
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-github blue-text"> </i>
                    </a>
                </li>
                <li>
                    <!-- LinkdIn -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- CARD 01 -->

        <!-- CARD 01 -->
        <div class="col-md-2 shadow-drop-br p-3 ">

            <div class="avatar mx-auto ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
                    class="img-fluid rounded-circle z-depth-1" alt="Sample avatar">
            </div>

            <h5 class="font-weight-bold mt-4 mb-3 text-center">Barbara</h5>

            <ul class="list-unstyled mb-0 d-flex justify-content-center">

                <li>
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-github blue-text"> </i>
                    </a>
                </li>
                <li>
                    <!-- LinkdIn -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- CARD 01 -->

        <!-- CARD 02 -->
        <div class="col-md-2 swing p-3 ">

            <div class="avatar mx-auto ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
                    class="img-fluid rounded-circle z-depth-1" alt="Sample avatar">
            </div>

            <h5 class="font-weight-bold mt-4 mb-3 text-center">Barbara</h5>

            <ul class="list-unstyled mb-0 d-flex justify-content-center">

                <li>
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-github blue-text"> </i>
                    </a>
                </li>
                <li>
                    <!-- LinkdIn -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- CARD 01 -->

    </div>
</div>
<!-- SOBRE O TIME DE DESENVOLVIMENTO -->



<app-rodape></app-rodape>