<!-- Carousel -->
<div class="inicio-carrocel">

    <div id="carouselBasicExample" class="carousel slide carousel-fade inicio-carrocel" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner inicio-carrocel">
            <!-- Single item -->
            <div class="carousel-item active inicio-carrocel">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" class="d-block w-100" alt="..." />
                

                <div class="d-flex justify-content-end border-4">
                    
                    <div class="carousel-caption d-none d-md-block">
                        <h1>aaaaa</h1>

                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>

            </div>

            <!-- Single item -->
            <div class="carousel-item inicio-carrocel">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item inicio-carrocel">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel -->

</div>

<!-- Jumbotron -->

<div class="jumbotron bg-white d-flex justify-content-center p-5">
    <div>
        <h1 class="display-4">Conheça nossos produtos</h1>
        <p class="lead">Empreenda, Compre, Forataleça a causa</p>
    </div>
</div>
<!-- /Jumbotron -->

<!-- Cards Produtos -->
<div class="container">

    <div class="row d-flex justify-content-center mb-5">

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" width="100px" heigth="100px">
                <img src="https://images.tcdn.com.br/img/img_prod/497460/camiseta_contraire_893_1_20200901155802.jpg"
                    class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">
                        R$ 250,00
                    </p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /Cards Produtos -->




<!-- Sobre nos -->

<!-- Jumbotron -->
<div class="jumbotron bg-white d-flex justify-content-center p-5">
    <div>
        <h1 class="display-4">Sobre nós</h1>
        <p class="lead">Projeto Borboletas</p>
    </div>
</div>
<!-- /Jumbotron -->

<div class="container">

    <div class="row">
        <div class="col-md-6 img-sobrenos">
            <h3>Sobre o projeto</h3>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia architecto ex sit totam rem? Error
                saepe iusto perferendis voluptate. Eius, accusamus officia voluptas maxime vero rerum ducimus molestiae
                repudiandae fugiat.</p>
            <p>Molestias, fugiat ipsum consectetur facilis odit voluptatum voluptates culpa laborum fugit saepe eos
                quaerat explicabo dolorum non sint error tempora ratione, voluptas aliquam dolorem. Dolores, a minima?
                Maxime, quod dolore?</p>
            <p>Accusantium necessitatibus error assumenda, laudantium culpa adipisci inventore voluptatum minus sequi
                nisi iure omnis commodi ad officiis obcaecati voluptate, officia reprehenderit veritatis ut. Quia quae
                perspiciatis molestiae, sequi voluptates neque?</p>

        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <img src="https://i.imgur.com/oAlyZKu.png" width="500px" height="500Lucapx" alt="">
            </div>
        </div>
    </div>

    <div class="row mb-8">

    </div>

</div>
<!-- /Sobre nos -->