<footer class="page-footer font-small barra pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas
                    " target="_blank" class="icoGithub">
                            <i class="fa fa-github text-white" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas
                    " target="_blank" class="icoGithub">
                            <i class="fa fa-linkedin text-white" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" target="_blank" href="https://github.com/LeticiaOrozimbo/ProjetoIntegrador_Borboletas">Borboletas</a>
    </div>
</footer>